.wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff9fd;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 13px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  row-gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.card {
  margin: 8px 16px 8px 16px;
  padding: 12px 12px 12px 12px;
  max-width: 960px;
  border: solid 1px #aaaaaa;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: left;
}

.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 48px;
}

.text-input {
  border: solid 1px #cccccc;
  padding: 0 4px 0 4px;
}

textarea {
  border: solid 1px #cccccc;
  padding: 0 4px 0 4px;
}

.number-input {
  border: solid 1px #cccccc;
  padding: 0 4px 0 4px;
}

h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  margin-bottom: 4px;
}

a {
  color: #5880ca;
  text-decoration: underline;
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 4px;
  margin: 8px;
}

dl > dt {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

dl > dd {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

table {
  width: 100%;
}

.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-btn {
  background-color: #ff8ed9;
  border-radius: 4px;
  border: solid 1px #aaaaaa;
  color: #ffffff;
  font-weight: 700;
  padding: 4px 8px 4px 8px;
}

.primary-btn:disabled {
  background-color: #eeeeee;
  color: #aaaaaa;
  cursor: not-allowed;
}

.secondory-btn {
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #aaaaaa;
  color: #000000;
  font-weight: 400;
  padding: 4px 8px 4px 8px;
}

.primary-btn:disabled {
  background-color: #eeeeee;
  color: #aaaaaa;
  cursor: not-allowed;
}

.help-icon {
  cursor: default;
}

/* 以下のCSSはhttps://www.jungleocean.com/programming/190308tooltip-cssを参考 */
.tooltip {
  display: flex;
  position: relative;
}
.description {
  display: none;
  position: absolute;
  padding: 8px;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  background: #333;
}
.description > p {
  margin-bottom: 0;
}
.description:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #333;
  margin-left: -15px;
}
.tooltip:hover .description {
  display: inline-block;
}
